.filterButton {
  max-width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  border: none;
  cursor: pointer;
  color: rgba(153, 160, 163, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding: 0 8px;
  background: rgba(255, 255, 255, 1);
}

.filterButton:nth-child(2n) {
  margin-left: 8px;
}

.buttonActive {
  color: rgba(65, 82, 46, 1);
  border: 1px solid rgba(65, 82, 46, 1);
}

.buttonError {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.selectIconContainer {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
}

.select {
  width: 9px;
  height: 6px;
}

.selectActive {
  color: rgba(65, 82, 46, 1);
}

.selectInactive {
  color: rgba(65, 82, 46, 0.3);
}
